.title h1 {
    text-align: center;
}
.title p, .title a {
    font-style: 16px;
    height: 16px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.back, .files {
    border-radius: 5px;
    background-color: #c6e7fa;
    margin-bottom: 20px;
    padding-bottom: 16px;
}

.back a, .files a {
    display: flex;
    font-size: 16px;
    padding: 16px 20px 0px 20px;
    text-decoration: none;
}
.back i, .files i, .files img {
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 4px;
}
.back t, .files t {
    margin-left: 6px;
}