* {
    color: rgba(0, 0, 0, 0.6);
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
body {
    background-color: #ECF6FD;
    margin: 20px;
}
p, a, span, li {
    font-size: 16px;
}