#list ul {
    overflow: auto;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    height: 100%;
    background-color: #0000ff;
}

#list ul img {
    width: 250px;
    height: 250px;
}

#list ul li a {
    display: block;
    color: #ffffff;
    background-color: #0000ff;
    padding: 10px;
	text-align: center;
    text-decoration: none;
}
#list ul li a:visited, 
#list ul li a:hover, 
#list ul li a.active {
    background-color: #0066ff;
    color: #ffffff;
}

#list ul marquee {
    width: 250px;
    height: 10px;
}