#list ul {
    overflow: auto;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100%;
    background-color: #ffffff;
}

#list ul img {
    width: 200px;
    height: 200px;
}

#list ul li a {
    display: block;
    color: #0000ff;
    background-color: #ffffff;
    padding: 10px;
	text-align: center;
    text-decoration: none;
}
#list ul li a:hover {
    color: #ffffff;
    background-color: #0000ff;
}

#list ul marquee {
	padding: 10px;
    width: 200px;
}
#list ul marquee span {
	color: #0000ff
}