@font-face {
    font-family: 'segoepr';
    src: url(/fonts/segoepr.ttf);
}

#list {
    width: 100%;
    height: 40px;
    background-color: #0000ff;
}
#list ul{
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}
#list ul img{
    width: 40px;
    height: 40px;
    float: left;
}
#list ul span {
    width: 125px;
    height: 40px;
    float: left;
    color: #0000ff;
    line-height: 40px;
    text-align: center;
    background-color: #ffffff;
    font-family: Microsoft Yahei, "Helvetica Neue", Helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
#list ul li {
    width: 10%;
    float: left;
    position:relative;
}
#list ul li.about{
    float: right;
}

#list ul li a{
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}
#list ul li a:hover, #list ul li a.active, #list ul li ul li a:hover, #list ul li ul li a.active{
    text-decoration: none;
    background-color: #0066ff;
}
#list ul li a.music {
    font-family: Microsoft Yahei, "Helvetica Neue", Helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    background-color: #FA233B;
}
#list ul li a.music:hover, #list ul li ul li a.music:hover, #list ul li ul li a.music.active{
    background-color: #FA233B;
}

#list ul li ul {
    top: 40px;
    width: 100%;
    margin: 0 auto;
    display: none;
    position:absolute;
    
}
#list ul li:hover ul {
    display: block;
}
#list ul li ul li {
    width: 75%;
    margin: 0 auto;
    float: none;
}
#list ul li ul li a {
    margin: 0 auto;
    text-decoration: none;
    background-color: #0000ff;
}

#list ul marquee {
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    display: block;
}
#list ul marquee span{
    color: #ffffff;
    font-family: 'segoepr';
    background-color: #0000ff;
}
#list ul marquee span a:link, #list ul marquee span a:visited {    
    color: #ffffff;
    text-decoration: none;
}
#list ul marquee span a:hover {
    text-decoration: underline;
}
#list ul marquee span a:active {
    color: #FF0000;
    text-decoration: underline;
}

#list ul button {
    float: right;
    height: 40px;
}
#list ul input {
    width: 20%;
    float: right;
    height: 34px;
    text-align: center;
}