#list ul {
    overflow: auto;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    background-color: #ffffff;
}

#list ul img {
    width: 100%;
}

#list ul li a {
    display: block;
    color: #0000ff;
    background-color: #ffffff;
    padding: 10px;
	text-align: center;
    text-decoration: none;
}
#list ul li a:hover {
    color: #ffffff;
    background-color: #0000ff;
}

#list ul hr {
	margin-left: 10%;
	margin-right: 10%;
}
#list ul marquee {
	margin-left: 10%;
	margin-right: 10%;
    padding: 10px;
}
#list ul marquee span {
	color: #0000ff;
}