* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
    color: rgba(0, 0, 0, 0.6);
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.frame {
    margin: 20px 0 0 20px;
    display: flex;
    justify-content: left;
}

.menu {
    width: 120px;
    background: #c6e7fa;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}
.menu:hover {
    width: 270px;
}
.button {
    width: 65px;
    height: 12px;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-top: 20px;
}
.button1 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #eb5a56;
}
.menu .button .button1 {
    background-color: rgba(0, 0, 0, 0.1);
}
.button2 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #f8bc33;
}
.menu .button .button2 {
    background-color: rgba(0, 0, 0, 0.1);
}
.button3 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #62cb44;
}
.icon {
    width: 250px;
    height: 80px;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    border-radius: 10px;
    text-decoration: none;
}
/*.icon:hover {
    background-color: #ECF6FD;
    text-decoration: none;
}*/
.logo {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.text {
    height: 50px;
    margin-top: 10px;
    margin-left: 30px;
}
.text p {
    padding-top: 10px;
}
.text h2 {
    font-weight: 400;
}
.line {
    width: 80px;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    margin: 20px 20px;
}
.menu:hover .line {
    width: 230px;
}
.title {
    height: 14px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.title p {
    font-size: 14px;
}
.pages {
    width: 230px;
    margin-left: 20px;
}
.item {
    display: flex;
    position: relative;
    border-radius: 10px;
    text-decoration: none;
}
.item:hover {
    background-color: #ECF6FD;
    text-decoration: none;
}
.licon {
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}
.ltext {
    width: 0px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    left: -20px;
    opacity: 0;
    white-space: nowrap;
}
.menu:hover .ltext {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
.website {
    width: 80px;
    background-color: #ECF6FD;
    margin-left: 20px;
    border-radius: 10px;
}
.menu:hover .website {
    width: 230px;
}
.light {
    width: 8px;
    height: 50px;
    background: #ECF6FD;
    position: absolute;
    left: -20px;
    opacity: 0;
    border-radius: 0px 10px 10px 0px;
}
.item:hover .light {
    opacity: 1;
}

.main {
    left: 310px;
    top: 20px;
    width: 652px;
    height: 652px;
    position: absolute;
    background-color: #ECF6FD;
    background: #c6e7fa;
    border-radius: 20px;
    display: flex;
}
.main h3 {
    font-weight: 400;
    height: 52px;
    width: 185px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 20px;
}
.main .button .button3 {
    background-color: rgba(0, 0, 0, 0.1);
}
.content {
    margin-left: -270px;
    margin-top: 52px;
    width: 612px;
    height: 580px;
    border-radius: 10px;
    background-color: #ECF6FD;
    padding: 20px;
}
iframe {
    margin-left: -270px;
    margin-top: 52px;
    width: 612px;
    height: 580px;
    border-radius: 10px;
}