body{
    margin: 0;
    padding: 10px 20px 10px 20px;
    border: 0px;
}

/* 分隔线  */
hr {
    border: 0;
    width: 100%;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #6699cc;
}

/* 标题图标 */
h2 img, h2 svg {
    height: 28px;
    vertical-align: middle;
}
h3 img, h3 svg {
    height: 24px;
    vertical-align: middle;
}

/* --- 隐藏菜单 --- */
details {
    margin-left: 20px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 18px;
    border: 3px solid #6699cc;
}
details summary {
    font-weight: 600;
    cursor: pointer;
    line-height: 20px;
    color: #6699cc;
}
details hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
details details {
    border: 0;
    padding: 0;
}


/* --- 网页嵌套 --- */
iframe {
    margin-bottom: -4px;
    width: 100%;
    height: 450px;
    border-radius: 18px;
    border: 3px solid #6699cc;
    box-sizing: border-box;
}

/* --- 进度条 --- */
progress{
    height: 20px;
    width: 100%;
    height: 20px;
    margin: 0;
    border-radius: 10px;
    border: 3px solid #6699cc;
    background-color: #99ccff;
    overflow: hidden;
}
@-moz-document url-prefix() { /* Ff 高度适配 */
    progress {
        height: 14px;
    }
} 
/* 已完成 */
progress::-webkit-progress-value {
    background-color: #fff;
}
progress::-moz-progress-bar {
    background-color: #fff;
}
/* 未完成 */
progress::-webkit-progress-bar {
    background-color: #99ccff;
}
/* 动画 (仅 Safari)  */
progress::-webkit-progress-inner-element {
    width: 100%;
    animation: 2s ease 0s prog;
}
@keyframes prog {
    0% {
        width: 0;  
    }
    100% {
        width: 100%;
    }
}


/* --- 页脚 --- */
#footeri {
    padding: 5px;
    color: #fff;
    background-color: #99ccff;
    border-radius: 18px;
    border: 3px solid #6699cc;
    margin-bottom: 10px;
}
#footeri .lmr {
    display: flex;
}
#footeri .left {
    flex: 0 0 auto;
}
#footeri .middle {
    flex: 1 1 auto;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100%-5px);
}
#footeri .enlmr {
    margin-top: 3px;
}
#footeri .enlmr .middle {
    margin-top: -3px;
}
#footeri span a {
    color: #fff;
}
#footeri span a:link,
#footeri span a:visited,
#footeri span a:active {
    color: #fff;
}
#footeri span a:hover {
    color: #6699cc;
}
#footeri hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
/* 更新信息 */
#footeri details {
    background-color: #fff;
    border-radius: 10px;
    color: #000;
}
/* 语言选项 */
#footeri .sel {
    height: 30px;
    width: 150px;
    padding: 0;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
    background-color: #fff;
    border: 3px solid #6699cc;
}
#footeri .sel select {
    text-align: center;
    border: 0;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    color: #6699cc;
    cursor: pointer;
}


/* --- 特殊页面 --- */
/* Scratch */
.scratch h3 {
    color: #855cd6;
}
.scratch span.com {
    color: #7854c0;
}
.scratch a {
    color: #855cd6;
}
.scratch a:link, 
.scratch a:visited, 
.scratch a:active {
    color: #855cd6;
}
.scratch a:hover {
    color: #7854c0;
}
.scratch details {
    border-color: #855cd6;
}
.scratch summary {
    color: #855cd6;
}
.scratch hr {
    background-color: #855cd6;
}
#cn .scratch details details details {
    border: 0;
    padding: 0;
}
#cn .scratch details details {
    padding: 5px;
    border-radius: 10px;
    border: 3px solid #855cd6;
}

/* Apple Music */
.am h3 {
    color: #f50e39;
}
.am iframe {
    border: 3px solid #f50e39;
}

/* 网页快照 */
.nosnsh {
    border: 3px solid #000;
    color: #000;
}
.nosnsh hr {
    background-color: #000;
}
.nosnsh summary {
    color: #000;
    font-weight: 400;
}
.nosnsh a {
    color: #000;
}
.nosnsh a:link, 
.nosnsh a:visited,
.nosnsh a:active {
    color: #000;
}
.nosnsh a:hover {
    color: #000;
}

/* PERSONALITY */
.person h2, 
.person h3 {
    color: #4298b4;
}
.person a {
    color: #88619a;
}
.person a:link, 
.person a:visited,
.person a:active {
    color: #88619a;
}
.person a:hover {
    color: #6c4d7b;
}
.person hr {
    background-color: #4298b4;
}
.person .card {
    width: 100%;
    padding: 5px 15px 5px 15px;
    border-radius: 18px;
    border: 3px solid #4298b4;
    box-sizing: border-box;
}
.person .card span span {
    font-weight: 600;
}
.person .card .cardBar {
    height: 20px;
    width: calc(100% + 6px);
    margin-left: -3px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 10px;
    border: 3px solid #fff;
    box-sizing: border-box;
}
.person .card .cardBar .barDot {
    height: 18px;
    width: 18px;
    margin-top: -2px;
    border-radius: 9px;
    border: 3px solid #fff;
    box-sizing: border-box;
}
.person .card .barText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4298b4;
}
.person .card hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.person .card .energy span span:nth-child(1) {
    color: #4298b4;
}
.person .card .mind span span:nth-child(1) {
    color: #e4ae3a;
}
.person .card .nature span span:nth-child(1) {
    color: #33a474;
}
.person .card .tactics span span:nth-child(1) {
    color: #88619a;
}
.person .card .identity span span:nth-child(1) {
    color: #f25e62;
}

.person .card .energy .cardBar {
    background-color: #4298b4;
}
.person .card .energy .cardBar .barDot {
    margin-left: calc(60% - 9px);
}
.person .card .mind .cardBar {
    background-color: #e4ae3a;
}
.person .card .mind .cardBar .barDot {
    margin-left: calc(64% - 9px);
}
.person .card .nature .cardBar {
    background-color: #33a474;
}
.person .card .nature .cardBar .barDot {
    margin-left: calc(62% - 9px);
}
.person .card .tactics .cardBar {
    background-color: #88619a;
}
.person .card .tactics .cardBar .barDot {
    margin-left: calc(56% - 9px);
}
.person .card .identity .cardBar {
    background-color: #f25e62;
}
.person .card .identity .cardBar .barDot {
    margin-left: calc(56% - 9px);
}