body{
    margin: 20px;
    padding: 0px;
    border: 0px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

hr {
    border: 0;
    width: 100%;
    height: 1.5px;
    background-color: #d5d5d5;
}

.sel {
    margin:0 auto;
    width: 150px;
    height: 40px;
    background-color: #efefef;
    color: #000;
    border: 1px solid #666;
    border-radius: 10px;
    transition: 0.25s;
}
.sel:hover {
    background-color: #fff;
}
.sel select {
    text-align: center;
    padding: 10px;
    width: 100%;
    border: none;
    background: transparent;
}

#footer {
    color: #666;
}