@font-face {
    font-family: 'segoepr';
    src: url(/fonts/segoepr.ttf);
}
h1, h2, h3, h4, h5, h6, p, dd, hr, ul.first, ol.first {
    font-family: 'segoepr';
    margin-left: 10%;
    margin-right: 10%;
}
li, td, span {
    font-family: 'segoepr';
}

h1 {
    color: #0000ff;
    text-align: center;
    text-shadow: 5px 5px 10px #A8A8A8;
}

h2, h3, h4, h5, h6 {
    color: #0000ff;
}

a:link, a:visited {
    color: #0000FF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: #FF0000;
    text-decoration: underline;
}

table {
    margin-left: 10%;
    border-collapse: collapse;
}
table, td, th {
    border: 1px solid #DFE2E5;
}
td {
    padding: 6px;
    text-align: center;
}

iframe {
    margin-left: 10%;
    margin-right: 10%;
}
iframe.first {
    margin-top: 10px;
}