h1, h2, h3, h4, h5, h6, p, dd, hr, ul.first, ol.first {
    font-family: Microsoft Yahei, "Helvetica Neue", Helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}
li, td, span {
    font-family: Microsoft Yahei, "Helvetica Neue", Helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

h1 {
    color: #FA233B;
    text-align: center;
    text-shadow: 5px 5px 10px #A8A8A8;
}

h2, h3, h4, h5, h6 {
    color: #FA233B;
}

a:link, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: #FF0000;
    text-decoration: underline;
}

table {
    margin-left: 10%;
    border-collapse: collapse;
}
table, td, th {
    border: 1px solid #DFE2E5;
}
td {
    padding: 6px;
    text-align: center;
}

iframe {
    margin-left: 10%;
    margin-right: 10%;
}
iframe.first {
    margin-top: 10px;
}