@font-face {
	font-family:'PingFang SC';
	src:url("/fonts/PingFangSC-Regular.woff2") format("woff2");
}
@font-face {
	font-family:'SF Pro Display';
	src:url("/fonts/sf-pro-display_regular.woff2") format("woff2");
}
@font-face {
	font-family:'SF Pro Icons';
	src:url("/fonts/sf-pro-icons_regular.woff2") format("woff2");
}
@font-face {
	font-family:'SF Pro Text';
	src:url("/fonts/sf-pro-text_regular.woff2") format("woff2");
}
* {
    font-family: "SF Pro Text", "SF Pro Icons", "PingFang SC", Helvetica, Arial, sans-serif;
}
h1 {
    margin: 20px;
    text-align: center;
    font-size: 34px;
    font-weight: bolder;
    color: #6699cc;
}
h2 {
    margin: 10px 0 10px 0;
    font-size: 28px;
    font-weight: bolder;
    color: #6699cc;
}
h3 {
    margin: 10px 0 10px 0;
    font-size: 22px;
    font-weight: bolder;
    color: #6699cc;
}

p, span, a, li, select {
    font-size: 16px;
    margin: 0;
}

span.com {
    font-style: italic;
    color: #99ccff;
}

ul, ol {
    margin: 0;
    padding-left: 40px;
}
li {
    margin: 0;
}
.pj ul{
    padding-left: 25px;
    list-style-type: none;
    
}
.pj ul li ul{
    padding-left: 40px;
    list-style-type: circle;
}

sup.nw {
    color: #fff;
}
sup.nt {
    color: #6699cc;
}

a {
    color: #6699cc;
    text-decoration: underline;
}