.list {
    margin-top: 10px;
    padding: 0;
    height: 46px;
    border-radius: 18px;
    border: 3px solid #6699cc;
    background-color: #99ccff;
}
.list ul {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}
.list ul img {
    width: 46px;
    height: 46px;
    float: left;
    margin-right: -5px;
}
.list ul li {
    margin-top: 5px;
    width: 10%;
    height: 30px;
    background-color: #fff;
    border: 3px solid #6699cc;
    border-radius: 10px;
    float: left;
    margin-left: 5px;
}
.list ul li.right {
    float: right;
    margin-left: 0;
    margin-right: 5px;
}
.list ul li:hover{
    color: #fff;
    transition: 0.2s;
    background-color: #6699cc;
}

.list ul li a, .list ul li a.active {
    color: #6699cc;
    margin: 0;
    margin-top: -3px;
    line-height: 36px;
    width: 100%;
    text-decoration: none;
    display:flex;
    justify-content:center;
    white-space: nowrap;
}
.list ul li:hover a, .list ul li a:hover {
    color: #fff;
}


/* 联系页脚，下版本更新 */
.contact {
    margin: 0 auto;
    margin-top: 10px;
    padding: 0;
    height: 42px;
    border-radius: 18px;
    border: 3px solid #6699cc;
    background-color: #99ccff;
    width: fit-content;
}
.contact ul {
    padding: 0;
    padding-right: 5px;
    margin: 0 auto;
    list-style-type: none;
}
.contact ul li img, 
.contact ul li svg {
    margin-top: 5px;
    height: 16px;
}
.contact ul li {
    display: block;
    margin-top: 5px;
    height: 26px;
    width: 26px;
    text-align: center;
    background-color: #fff;
    border: 3px solid #6699cc;
    border-radius: 10px;
    float: left;
    margin-left: 5px;
    margin-bottom: 0;
}
.contact ul li.line {
    width: 3px;
    border: 0;
    height: 32px;
    background-color: #6699cc;
}
.contact ul li.line:hover {
    background-color: #6699cc;
}

.contact ul li a, .contact ul li a.active, 
.contact ul li a.visited, 
.contact ul li a.linked {
    height: 26px;
    width: 26px;
    color: #6699cc;
    text-decoration: none;
    display: block;
}

.contact ul li:hover {
    background-color: #fff;
    transition: 0.2s;
} 
.contact ul li:hover svg {
    transition: 0.2s;
    color: #6699cc;
}

.contact ul li:hover:has(svg.fa-github),
.contact ul li:hover:has(svg.fa-github) svg {
    border-color: rgb(13, 17, 23);
    color: rgb(13, 17, 23);
}
.contact ul li:hover:has(svg.fa-envelope),
.contact ul li:hover:has(svg.fa-envelope) svg {
    border-color: rgb(52, 140, 246);
    color: rgb(52, 140, 246);
}
.contact ul li:hover:has(svg.fa-x-twitter),
.contact ul li:hover:has(svg.fa-x-twitter) svg {
    border-color: rgb(4, 4, 0);
    color: rgb(4, 4, 0);
}
.contact ul li:hover:has(svg.fa-gitter),
.contact ul li:hover:has(svg.fa-gitter) svg {
    border-color: rgb(203, 50, 95);
    color: rgb(203, 50, 95);
}
.contact ul li:hover:has(img.fa-glitch) {
    border-color: rgb(234, 51, 183);
}
.contact ul li:hover:has(svg.fa-weixin),
.contact ul li:hover:has(svg.fa-weixin) svg {
    border-color: rgb(87, 172, 110);
    color: rgb(87, 172, 110);
}
.contact ul li:hover:has(svg.fa-qq),
.contact ul li:hover:has(svg.fa-qq) svg {
    border-color: rgb(215, 55, 50);
    color: rgb(215, 55, 50);
}
.contact ul li:hover:has(svg.fa-weibo),
.contact ul li:hover:has(svg.fa-weibo) svg {
    border-color: rgb(220, 133, 52);
    color: rgb(220, 133, 52);
}
.contact ul li:hover:has(svg.fa-bilibili),
.contact ul li:hover:has(svg.fa-bilibili) svg {
    border-color: rgb(71, 159, 209);
    color: rgb(71, 159, 209);
}
.contact ul li:hover:has(svg.fa-zhihu),
.contact ul li:hover:has(svg.fa-zhihu) svg {
    border-color: rgb(5, 109, 232);
    color: rgb(5, 109, 232);
}
