.line {
    position: absolute;
    margin: 0;
    color: #99ccff;
}
.light {
    color: #6699cc;
}
input {
    width: calc(100% - 42px);
    padding: 5px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 18px;
    height: 20px;
    border: 3px solid #6699cc;
}