input {
    padding: 3px;
    margin-top: 3px;
    margin-right: 5px;
    width: 200px;
    border: 1.5px solid #6699cc;
    border-radius: 5px;
}
p.result {
    color: #6699cc;
    font-weight: 600;
}
p.result span {
    color: #000;
    text-decoration: underline;
}

#butt {
    text-align: center;
}
button {
    border-radius: 18px;
    height: 40px;
    width: 100px;
    margin-bottom: 10px;
    border: 3px solid #6699cc;
    background-color: #fff;
    transition: 0.2s;
    color: #6699cc;
}
button:hover {
    background-color: #6699cc;
    color: #fff;
    cursor: pointer;
}