.people a {
    margin: 20px;
    background-color: #c6e7fa;
    border-radius: 5px;
    text-decoration: none;
}
.people a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.people:hover t {
    text-decoration: none;
    font-style: 16px;
}
.people:hover t {
    text-decoration: underline;
}