body {
    margin: 20px;
}
* {
    font-family: Helvetica, Arial;
    font-size: 20px;
}

h1 {
    margin-top:100px;
    text-align: center;
    font-size: 86px;
    font-weight: bolder;
    color: #6699cc;
}
/* marquee {
    margin: 0;
    padding: 0;
    height: 40px;
    border-radius: 10px;
    border: 3px solid #6699cc;
    background-color: #99ccff;
}
ul {
    margin: 0;
    padding: 0;
}
img {
    background-color: #fff;
    border-radius: 7px;
    margin: 3px;
    float: left;
    width: 34px;
    height: 34px;
}
li {
    float: left;
    margin: 3px;
    font-size: 20px;
    height: 34px;
    line-height: 34px;
    border-radius: 7px;
    padding-left: 7px;
    padding-right: 7px;
    color: #6699cc;
    background-color: #fff;
    text-align: center;
    list-style-type: none;
} */
li.ad {
    color: #fff;
    border: 3px dashed #fff;
    background-color: #99ccff;
}
li.v {
    border: 0;
    margin-top: 21px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background-color: #99ccff;
}

marquee {
    margin: 0;
    padding: 0;
    height: 46px;
    border-radius: 18px;
    border: 3px solid #6699cc;
    background-color: #99ccff;
}
marquee ul {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}
marquee ul img {
    width: 46px;
    height: 46px;
    float: left;
    margin-right: -5px;
}
marquee ul li {
    margin-top: 5px;
    height: 30px;
    line-height: 30px;
    color: #6699cc;
    background-color: #fff;
    border: 3px solid #6699cc;
    border-radius: 10px;
    float: left;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    list-style-type: none;
}