body {
    margin: 20px;
}
* {
    font-family: Helvetica, Arial;
}

h1 {
    margin-top:100px;
    text-align: center;
    font-size: 86px;
    font-weight: bolder;
    color: #6699cc;
}
marquee {
    margin: 0;
    padding: 0;
    height: 40px;
    border-radius: 10px;
    border: 3px solid #6699cc;
    background-color: #99ccff;
}
img {
    background-color: #fff;
    border-radius: 7px;
    margin: 3px;
    float: left;
    width: 34px;
    height: 34px;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    float: left;
    margin: 3px;
    font-size: 20px;
    height: 34px;
    line-height: 34px;
    border-radius: 7px;
    padding-left: 7px;
    padding-right: 7px;
    color: #6699cc;
    background-color: #fff;
    text-align: center;
    list-style-type: none;
}
li.ad {
    height: 28px;
    line-height: 28px;
    color: #fff;
    border: 3px dashed #fff;
    background-color: #99ccff;
}
li.v {
    padding-left: 0;
    margin-top: 16px;
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    background-color: #99ccff;
}