@font-face {
	font-family: "SF Pro Round";
	font-style: normal;
	font-weight: 100;
	src: url("/fonts/sfpr/SF-Pro-Rounded-Thin.otf");
}
@font-face {
	font-family: "SF Pro Round";
	font-style: normal;
	font-weight: 200;
	src: url("/fonts/sfpr/SF-Pro-Rounded-Ultralight.otf");
}
@font-face {
	font-family: "SF Pro Round";
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/sfpr/SF-Pro-Rounded-Light.otf");
}
@font-face {
	font-family: "SF Pro Round";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/sfpr/SF-Pro-Rounded-Regular.otf");
}
@font-face {
	font-family: "SF Pro Round";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/sfpr/SF-Pro-Rounded-Medium.otf");
}
@font-face {
	font-family: "SF Pro Round";
	font-style: normal;
	font-weight: 600;
	src: url("/fonts/sfpr/SF-Pro-Rounded-Semibold.otf");
}
@font-face {
	font-family: "SF Pro Round";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/sfpr/SF-Pro-Rounded-Bold.otf");
}
@font-face {
	font-family: "SF Pro Round";
	font-style: normal;
	font-weight: 800;
	src: url("/fonts/sfpr/SF-Pro-Rounded-Black.otf");
}
@font-face {
	font-family: "SF Pro Round";
	font-style: normal;
	font-weight: 900;
	src: url("/fonts/sfpr/SF-Pro-Rounded-Heavy.otf");
}