/* @font-face {
	font-family: "PingFangSC";
	font-style: normal;
	font-weight: 100;
	src: url("/fonts/PingFangSC-Thin.otf");
}
@font-face {
	font-family: "PingFangSC";
	font-style: normal;
	font-weight: 200;
	src: url("/fonts/PingFangSC-Ultralight.otf");
} */
@font-face {
	font-family: "PingFangSC";
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/pfsc/PingFangSC-Light.ttf");
}
@font-face {
	font-family: "PingFangSC";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/pfsc/PingFangSC-Regular.ttf");
}
@font-face {
	font-family: "PingFangSC";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/pfsc/PingFangSC-Medium.woff2");
}
@font-face {
	font-family: "PingFangSC";
	font-style: normal;
	font-weight: 600;
	src: url("/fonts/pfsc/PingFangSC-Semibold.woff");
}
/* @font-face {
	font-family: "PingFangSC";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/PingFangSC-Bold.otf");
}
@font-face {
	font-family: "PingFangSC";
	font-style: normal;
	font-weight: 800;
	src: url("/fonts/PingFangSC-Black.otf");
}
@font-face {
	font-family: "PingFangSC";
	font-style: normal;
	font-weight: 900;
	src: url("/fonts/PingFangSC-Heavy.otf");
} */